## imbalance 한 데이터셋 구조 변환

In [1]:
import pandas as pd
df_titanic = pd.read_csv('../../datasets/titanic_disaster_train.csv')
df_titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [2]:
df_titanic.dropna(inplace=True)

In [5]:
# features = df_titanic.drop(columns=['Survived'])
features = df_titanic[['Age', 'Fare']]
label = df_titanic['Survived']
features.columns

Index(['Age', 'Fare'], dtype='object')

### 언더샘플이

In [6]:
from imblearn.under_sampling import TomekLinks

tomek = TomekLinks()
feature_tomek, label_tomek = tomek.fit_resample(X=features, y=label)

In [8]:
len(features), len(feature_tomek)

(183, 161)

In [11]:
label.value_counts(), label_tomek.value_counts()

(Survived
 1    123
 0     60
 Name: count, dtype: int64,
 Survived
 1    101
 0     60
 Name: count, dtype: int64)

### 오버샘플링

In [12]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()
features_smote, label_smote = smote.fit_resample(X=features, y=label)

In [13]:
len(label), len(label_smote),

(183, 246)

In [14]:
label.value_counts(), label_smote.value_counts()

(Survived
 1    123
 0     60
 Name: count, dtype: int64,
 Survived
 1    123
 0    123
 Name: count, dtype: int64)